{% extends 'layout.html' %} 

{% block body %} 

    <div class="div1">
        <img src="https://i.imgur.com/AJSC5P5.jpg" alt="">
    </div>
    <h1 class="mt-2 text-center text-xl">Use the following detail to deposit your instalments.</h1>
    <h1 class="mt-2 text-center text-xl">Bank Details</h1>
    <div class="m-4">
        <h1 class="mb-2">Company Name: AETOS PRIVATE LIMITED</h1>
        <h1 class="mb-2">Account: pk03 unil 0109 0002 7031 5679</h1>
        <h1 class="mb-2">Branch: Main Markaz f-7/1 Islamabad</h1>
    </div>

{% endblock %}